# Maven
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# database files
database/*
!database/.placeholder

# log files
**/logs/
!logs/.placeholder
logs/nohup.out
nohup.out

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# Ignore VS Code transient files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

remote-sync

# gemp replay directory
replay
!replay/.placeholder

# test output files
gemp-lotr/gemp-lotr-server/IdealShuffleResult.txt

# MacOS and Windows junk files
.DS_Store
Thumbs.db