.draft-highlight {
    border: 2px solid red; /* Red border to indicate selection */
    background-color: rgba(255, 0, 0, 0.2); /* Light red background */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Optional: Glowing effect for extra visibility */
}

#tableStatusDiv {
    color: #ffffff;
    font-size: 120%;
    text-align: center;
}

#tableStatusDiv .player-chosen {
    color: #a8dba8; /* Light green */
}